[Unit]
Description=dlm control daemon
After=syslog.target network.target corosync.service

[Service]
Type=forking
ExecStartPre=/sbin/modprobe dlm 
ExecStart=/usr/sbin/dlm_controld $OPTIONS
#ExecStopPost=/sbin/modprobe -r dlm

[Install]
WantedBy=multi-user.target

