[Unit]
Description=dlm control daemon
After=syslog.target network.target corosync.service

[Service]
Type=forking
ExecStart=/lib/systemd/systemd-dlm start
ExecStop=/lib/systemd/systemd-dlm stop

[Install]
WantedBy=multi-user.target

