[Unit]
Description=dlm control daemon
After=syslog.target network.target corosync.service

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/dlm
ExecStartPre=/sbin/modprobe dlm 
ExecStart=/usr/sbin/dlm_controld $DLM_CONTROLD_OPTS
#ExecStopPost=/sbin/modprobe -r dlm

[Install]
WantedBy=multi-user.target

